header {color: red; text-align: right;}

h1 {font-family: sans-serif; text-transform: capitalize;}

h2 {font-weight: bold; background-color: rgba(0,0,0,0.3); font-size: 120%; text-transform: capitalize;}

h3 {font-variant: small-caps; font-weight: normal;font-size: 110%;}

section strong {color: green; text-decoration: underline; font-weight: normal;}

section > section strong {font-style: italic; color: black}
